.login-container {
    width: 90%;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.welcome {
    margin-bottom: 2rem;
}

form label {
    font-size: .9rem;
}

.input-field {
    border-radius: 1.2rem;
    padding: 1rem 1.5rem;
}

#username, #password {
    background: transparent;
    border: none;
    outline: none;
}

#username:focus, #password:focus {
    outline: none;
    box-shadow: none;
}

.login-btn:hover {
    color: #214472;
    background-color: transparent;
    border: 2px solid #214472;
}

.login-btn:active .login-btn:visited {
    outline: none !important;
    box-shadow: none !important;
}

.error {
    font-size: 1.2rem;
}